<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">

   <listeners>
       <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>
  </listeners> 
  <test name="FreeCrm Application Test">
    <classes>
      <class name="com.fb.qa.test.LoginPageTest"/>
      <class name="com.fb.qa.test.HomePageTest"/>
    </classes>
    </test>
</suite>
